html,
body {
  font-size: 16px;
}


.splash_screen {
        width: 980px;
        height: 579px;
        background-size: cover;
        background-image: url("./Images/background_img.jpg");
        display: flex;
        justify-content: center;
        align-items: flex-end;
}
      
#play_btn, #playagain_btn, #start_btn {
        background-color: rgb(3, 172, 3);
        color: white;
        font-size: 20px;
        padding: 0.25rem 0.5rem;
        border: 1px solid rgb(3, 172, 3);
        border-radius: 10px;
        text-transform: uppercase;
        height: 50px;
        width: 160px;
        margin-bottom: 20px;
}

.show {
        display: block;
}

.hide {
  display: none;
}
      



