html,
body {
  font-size: 16px;
}


.splash_screen {
        width: auto;
        height: 670px;
        background-size: cover;
        background-image: url("Images/splashScreenBackground.png");
        display: flex;
        justify-content: center;
        align-items: flex-end;
}

#mouse_escape {
        border: 5px solid black;
        background-image: url("Images/kitchenBackground.png");
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
}

#game_over {
        width: auto;
        height: 470px;
        background-size: auto;
        background-repeat: no-repeat;
        background-image: url("Images/mouseTrapGameOver.jpeg");
       
}
      
#play_btn {
        background-color: rgb(3, 172, 3);
        color: white;
        font-size: 26px;
        padding: 0.25rem 0.5rem;
        border: 1px solid rgb(3, 172, 3);
        border-radius: 10px;
        text-transform: uppercase;
        height: 100px;
        width: 180px;
        margin-bottom: 20px;
        position: absolute;
        top: 550px;
        left: 600px;
        
}

#start_btn {
        background-color: rgb(3, 172, 3);
        color: white;
        font-size: 24px;
        padding: 0.25rem 0.5rem;
        border: 1px solid rgb(3, 172, 3);
        border-radius: 10px;
        text-transform: uppercase;
        height: 80px;
        width: 160px;
        margin-bottom: 20px;
        position: absolute;
        margin-left: 32px;
}

#score {
        position: absolute;
        margin-left: 34px;
        margin-top: 120px;
        font-size: 28px;;
        
        


}
        

 

#playagain_btn{
        background-color: rgb(3, 172, 3);
        color: white;
        font-size: 20px;
        padding: 0.25rem 0.5rem;
        border: 1px solid rgb(3, 172, 3);
        border-radius: 10px;
        text-transform: uppercase;
        height: 50px;
        width: 160px;
        margin-bottom: 20px;
        position: absolute;
        top: 550px;

}



.show {
        display: block;
}

.hide {
  display: none;
}
      



